.cardbg-color{
    border-color: rgb(143, 135, 135);
}

#myList{
    border: 1px solid rgb(143, 135, 135);
}
.row-titles{
    background-color: #524c4c;
    color: #ffffff;
}


.letraSmall{
    font-size: small;
}

.letraMedium{
    font-size: medium;
}

.div-info{
    height: 300px;
}

.card-header{
    background-color: #90CAF9;
}

.prueba{
    border: 2px solid black;
    width: 70px;
    height: 70px;
    background-color: rgb(225, 230, 221);
    border-radius: 100%;
    display: inline-block;
}

.card-footer{
    background-color: #E0E0E0;
}

.addAirportBtn{
    background-color: #26A69A;
    color: #424242;
}

.container-input{
    width: 40%;
}

.user{
    background-color: #5aa7beb6;
    border: 2px solid #4b889bb6;
}
.wit{
    height: 20px;
}


//chat

.chatUl{
    list-style:none;
    list-style-type: none;
    padding: 0;
}

.letraSmall{
    font-size: small;
}

.backChat{
    background-color: #EBEAAC;
}
.myChat{
    background-color: #A0E3A4;
}
.otherCHat{
    background-color: #f3f7f2;
}

