.cardbg-color{
    border-color: rgb(143, 135, 135);
}

#myList{
    border: 1px solid rgb(143, 135, 135);
}
.row-titles{
    background-color: #524c4c;
    color: #ffffff;
}


.letraSmall{
    font-size: small;
}

.letraMedium{
    font-size: medium;
}

.div-info{
    height: 300px;
}

.card-header{
    background-color: #90CAF9;
}

.prueba{
    border: 2px solid black;
    width: 70px;
    height: 70px;
    background-color: rgb(225, 230, 221);
    border-radius: 100%;
    display: inline-block;
}

.card-footer{
    background-color: #E0E0E0;
}

.addAirportBtn{
    background-color: #D32F2F;
    color: white;
}